<span class="help-block" ng-repeat="error in getErrors('{{ field.name }}','{{form.prefix}}')"><strong>{[ error ]}</strong></span>
{% if form_show_errors and field.errors %}
    {% for error in field.errors %}
        <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></span>
    {% endfor %}
{% endif %}