<p ng-repeat="error in getErrors('{{field.name}}','{{form.prefix}}')" class="help-block"><strong>{[ error ]}</strong></p>???????
{% if form_show_errors and field.errors %}
    {% for error in field.errors %}
        <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
    {% endfor %}
{% endif %}